Repository bitPogo/kmock, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, kmock, kmock-gradle, kmock-processor, integration-kmp, integration-android-application, playground, integration-plugin

Bump to Kotlin 1.7.20
  .github/labels.yml
  .github/workflows/ci-snapshot.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  detekt/baseline.xml
  gradle.properties
  gradlePlugin/kmock-test-plugin/gradle.properties
  gradlePlugin/kmock-test-plugin/kmock/build.gradle.kts
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  integration-kmp/build.gradle.kts
  kmock/build.gradle.kts
  playground/build.gradle.kts
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: ci, dependencies, documentation, kmock, integration-kmp, playground, integration-plugin

Fix misspelled postponed description
  .github/labels.yml
Labels: ci

Publish unspecified documentation
  unspecified/changelog/index.html
  unspecified/development/contributing/index.html
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none

Use Reuseable Flows for Release
  .github/workflows/ci-publish-release.yml
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Publish unspecified documentation
  unspecified/sitemap.xml.gz
Labels: none

Add apple and mingwX support
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
  CHANGELOG.md
  docs/src/roadmap.md
  gradlePlugin/kmock-test-plugin/kmock/build.gradle.kts
  integration-kmp/build.gradle.kts
  integration-kmp/src/androidAndroidTest/kotlin/tech/antibytes/kmock/integration/AndroidSampleControllerAutoStubSpec.kt
  kmock/build.gradle.kts
  playground/build.gradle.kts
Labels: ci, documentation, kmock, integration-kmp, playground, integration-plugin

Prepare Release of 0.3.0-rc05
  CHANGELOG.md
  README.md
  docs/mkdocs.yml
  docs/src/assets/badge-platform-support.svg
  docs/src/assets/badge-release-latest.svg
  docs/src/development/badges.md
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockGradleConfiguration.kt
Labels: dependencies, documentation

Publish unspecified documentation
  unspecified/changelog/index.html
  unspecified/roadmap/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml.gz
Labels: none

Publish unspecified documentation
  unspecified/404.html
  unspecified/assets/badge-platform-support.svg
  unspecified/assets/badge-release-latest.svg
  unspecified/changelog/index.html
  unspecified/concept/index.html
  unspecified/development/badges/index.html
  unspecified/development/code-of-conduct/index.html
  unspecified/development/contributing/index.html
  unspecified/development/releasing/index.html
  unspecified/howto/advanced/index.html
  unspecified/howto/annotations/index.html
  unspecified/howto/assertion/index.html
  unspecified/howto/install/index.html
  unspecified/howto/proxy/index.html
  unspecified/howto/setup/index.html
  unspecified/howto/terminology/index.html
  unspecified/index.html
  unspecified/license/index.html
  unspecified/migration/index.html
  unspecified/quickstart/index.html
  unspecified/roadmap/index.html
  unspecified/search/search_index.json
  unspecified/security/index.html
  unspecified/sitemap.xml.gz
Labels: none

Prepare Release of 0.3.0-rc05
  .github/workflows/ci-release.yml
Labels: ci

Publish unspecified documentation
  unspecified/sitemap.xml.gz
Labels: none

Publish unspecified documentation
  latest/404.html
  latest/_data/gradle.yml
  latest/assets/badge-platform-support.svg
  latest/assets/badge-release-latest.svg
  latest/changelog/index.html
  latest/concept/index.html
  latest/development/badges/index.html
  latest/development/code-of-conduct/index.html
  latest/development/contributing/index.html
  latest/development/releasing/index.html
  latest/howto/advanced/index.html
  latest/howto/annotations/index.html
  latest/howto/assertion/index.html
  latest/howto/install/index.html
  latest/howto/proxy/index.html
  latest/howto/setup/index.html
  latest/howto/terminology/index.html
  latest/index.html
  latest/license/index.html
  latest/migration/index.html
  latest/quickstart/index.html
  latest/roadmap/index.html
  latest/search/search_index.json
  latest/security/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Bump KSP to 1.0.8
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/KMockCodeGenerator.kt
  kmock-processor/src/test/kotlin/tech/antibytes/kmock/processor/KMockCodeGeneratorSpec.kt
  settings.gradle.kts
Labels: kmock-processor, integration-plugin

Bump Kotlin to 1.7.21
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
  CHANGELOG.md
  build.gradle.kts
  detekt/config.yml
  gradlePlugin/kmock-test-plugin/build.gradle.kts
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/KMockCodeGenerator.kt
  settings.gradle.kts
  setup/build.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Excludes.kt
Labels: ci, dependencies, documentation, kmock-processor, integration-plugin

Publish unspecified documentation
  unspecified/_data/gradle.yml
  unspecified/changelog/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Pin Workflows
  .github/workflows/ci-label-sync.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-pull-request-formcheck.yml
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Use Typesafe Accessors
  gradlePlugin/kmock-test-plugin/kmock-gradle-shadow/build.gradle.kts
  gradlePlugin/kmock-test-plugin/kmock-gradle-shadow/src
  gradlePlugin/kmock-test-plugin/kmock-processor/build.gradle.kts
  gradlePlugin/kmock-test-plugin/kmock-shadow/build.gradle.kts
  gradlePlugin/kmock-test-plugin/kmock-shadow/src
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  kmock-gradle/build.gradle.kts
  kmock-processor/build.gradle.kts
  settings.gradle.kts
Labels: kmock-gradle, kmock-processor, integration-plugin

Publish unspecified documentation
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Bump to Kotlin 1.7.22
  settings.gradle.kts
  setup/build.gradle.kts
Labels: dependencies

Bump to Kotlin 1.8.0
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-snapshot.yml
  build.gradle.kts
  detekt/baseline.xml
  gradlePlugin/kmock-test-plugin/build.gradle.kts
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  settings.gradle.kts
  setup/build.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockConfiguration.kt
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockGradleConfiguration.kt
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockProcessorConfiguration.kt
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/PublishingGroup.kt
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Excludes.kt
Labels: ci, dependencies, integration-plugin

Bump to Kotlin 1.8.10
  build.gradle.kts
  gradlePlugin/kmock-test-plugin/build.gradle.kts
  gradlePlugin/kmock-test-plugin/settings.gradle.kts
  settings.gradle.kts
  setup/build.gradle.kts
Labels: dependencies, integration-plugin

Prepare Release of 0.3.0-rc06
  CHANGELOG.md
  README.md
  docs/src/assets/badge-release-latest.svg
  docs/src/development/badges.md
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockGradleConfiguration.kt
Labels: dependencies, documentation

Publish unspecified documentation
  unspecified/assets/badge-release-latest.svg
  unspecified/changelog/index.html
  unspecified/development/badges/index.html
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none

Publish unspecified documentation
  latest/_data/gradle.yml
  latest/assets/badge-release-latest.svg
  latest/changelog/index.html
  latest/development/badges/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Publish unspecified documentation
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Prepare Release of 0.3.0-rc07
  CHANGELOG.md
  README.md
  docs/mkdocs.yml
  docs/src/assets/badge-release-latest.svg
  docs/src/development/badges.md
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/publishing/KMockGradleConfiguration.kt
Labels: dependencies, documentation

Publish unspecified documentation
  unspecified/assets/badge-release-latest.svg
  unspecified/changelog/index.html
  unspecified/development/badges/index.html
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Publish unspecified documentation
  latest/_data/gradle.yml
  latest/assets/badge-release-latest.svg
  latest/changelog/index.html
  latest/development/badges/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Publish unspecified documentation
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Prepare Release 0.3.0-rc08
  CHANGELOG.md
  README.md
  docs/mkdocs.yml
  docs/src/assets/badge-release-latest.svg
  docs/src/development/badges.md
  settings.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Excludes.kt
Labels: dependencies, documentation

Publish unspecified documentation
  unspecified/assets/badge-release-latest.svg
  unspecified/changelog/index.html
  unspecified/development/badges/index.html
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Prepare Release of 0.3.0-rc08
  .github/workflows/ci-release.yml
Labels: ci

Publish unspecified documentation
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none

Publish unspecified documentation
  latest/_data/gradle.yml
  latest/assets/badge-release-latest.svg
  latest/changelog/index.html
  latest/development/badges/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  unspecified/_data/gradle.yml
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
  versions.json
Labels: none

Bump Gradle 8.6
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: none

Bump to b5d11da
  .gitignore
  CHANGELOG.md
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, documentation

Update Danger
  Dangerfile.df.kts
  gradle.properties
  gradle/libs.versions.toml
  kmock-gradle/build.gradle.kts
  kmock-processor/build.gradle.kts
  kmock/build.gradle.kts
  playground/build.gradle.kts
Labels: kmock, kmock-gradle, kmock-processor, playground

Update Gradle Policies
  gradle.properties
Labels: none

Enable build cache
  .java_version
  settings.gradle.kts
Labels: none

Reenable Shadow
  kmock-test-plugin/kmock-gradle-shadow/build.gradle.kts
  kmock-test-plugin/kmock-gradle-shadow/src
Labels: none

.github/labeler.yml:

ci:
  - .github/**/*

dependencies:
  - setup/**/*

documentation:
  - docs/**/*
  - README.md
  - LICENSE
  - CHANGELOG.md
  - CODE-OF-CONDUCT.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTION.md
  - SECURITY.md

# Library
kmock:
  - kmock/**/*

kmock-gradle:
  - kmock-gradle/**/*

kmock-processor:
  - kmock-processor/**/*

integration-kmp:
  - integration-kmp/**/*

integration-android-application:
  - integration-android-application/**/*

playground:
  - playground/**/*

integration-plugin:
  - gradlePlugin/kmock-test-plugin/**/*
