Repository bitPogo/kmock, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, test-utils

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/**/script/**/*.kts

dependencies:
  - buildSrc/**/*
  - gradlePlugin/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
test-utils:
  - kmock-gradle/**/*

Fix Readme
  README.adoc
Labels: documentation

Add KSP
  buildSrc/build.gradle.kts
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/GradlePlugin.kt
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
Labels: dependencies

Add kmock module
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Dependency.kt
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/build.gradle.kts
  kmock/src/androidMain/AndroidManifest.xml
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/ExampleClass.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ExampleClassSpec.kt
  settings.gradle.kts
Labels: dependencies

Add Mockery
  .gitignore
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/build.gradle.kts
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/ExampleClass.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Mockery.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ExampleClassSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/MockerySpec.kt
Labels: dependencies

Add basic verfication operations
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Extension.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Operators.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandle.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandleFactory.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ExtensionsSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/FunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/OperationSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationFactorySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerifierSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/FunMockeryStub.kt
Labels: none

Add verification method
  kmock/build.gradle.kts
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerifierSpec.kt
Labels: none

Add verifyStrictly
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/ArgumentMatcher.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Operators.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verification.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationChainBuilder.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandle.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandleFactory.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ArgumentMatcherSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/OperationSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationChainBuilderSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationFactorySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerifierSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/FunMockeryStub.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/VerifierStub.kt
Labels: dependencies

Add Verfication
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  kmock/build.gradle.kts
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Operators.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verification.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandleFactory.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationChainBuilderSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationFactorySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationSpec.kt
Labels: none

Add convenice methods to ChainBuilder
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationChainBuilder.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationChainBuilderSpec.kt
Labels: none

Add passing verifiy testcases
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationSpec.kt
Labels: none

Invoke collector in Mockery
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/FunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationSpec.kt
Labels: dependencies

Add TypeSafety to Sideeffects
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationChainBuilder.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandleFactory.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/FunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/FunMockeryStub.kt
Labels: none

Add matcher for PropertyMockery
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/ArgumentMatcher.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/PropertyMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationHandleFactory.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ArgumentMatcherSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/FunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/PropertyMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationFactorySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/PropertyMockeryStub.kt
Labels: none

Add AsyncFunMockery
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/AsyncFunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/SyncFunMockery.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/AsyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/SyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/FunMockeryStub.kt
Labels: none

Invoke js async fix
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/AsyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/PropertyMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/SyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerifierSpec.kt
Labels: dependencies

Add property ChainBuilder methods
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/PropertyMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/VerificationChainBuilder.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ArgumentMatcherSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/AsyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/PropertyMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/SyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationChainBuilderSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationFactorySpec.kt
Labels: none

Add example
  examples/build.gradle.kts
  examples/src/androidMain/AndroidManifest.xml
  examples/src/commonMain/kotlin/tech/antibytes/kmock/example/ExampleContract.kt
  examples/src/commonMain/kotlin/tech/antibytes/kmock/example/SampleController.kt
  examples/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerSpec.kt
  gradlePlugin/kmock-dependency/src/main/kotlin/tech/antibytes/gradle/kmock/dependency/Version.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/PropertyMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/ArgumentMatcherSpec.kt
  settings.gradle.kts
Labels: dependencies

Adjust for heavy coroutines
  examples/build.gradle.kts
  examples/src/commonMain/kotlin/tech/antibytes/kmock/example/ExampleContract.kt
  examples/src/commonMain/kotlin/tech/antibytes/kmock/example/SampleController.kt
  examples/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerSpec.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/KMockContract.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verification.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerificationSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/FunMockeryStub.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/PropertyMockeryStub.kt
  kmock/src/commonTest/kotlin/tech/antibytes/mock/VerifierStub.kt
Labels: none

Add clear to Mockery
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/FunMockery.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/PropertyMockery.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/AsyncFunMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/PropertyMockerySpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/SyncFunMockerySpec.kt
Labels: none

Add clear to Verifier
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/VerifierSpec.kt
Labels: none

mend
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/Verifier.kt
Labels: none
