Repository bitPogo/kmock, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, kmock, kmock-gradle, kmock-processor, integration-kmp, integration-android-application, playground, integration-plugin

Adjust Detekt Baseline
  detekt/baseline.xml
Labels: none

Rerun Spotless
  build.gradle.kts
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/ArgumentMapping.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/ParameterTypeMapping.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/ProxyResolving.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/Shared.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/TypeNameMapping.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/FunSpecExtensions.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/GenericDeclarationExtension.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/multi/TemplateMultiSource.kt
  kmock/build.gradle.kts
  kmock/src/androidInstrumentedTest/kotlin/tech/antibytes/kmock/util/ClassNameExtractorSpec.kt
  kmock/src/androidMain/kotlin/tech/antibytes/kmock/util/ClassNameExtractor.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/proxy/FunProxy.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/proxy/RelaxationGuard.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/proxy/SpyGuard.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/proxy/UnitFunRelaxer.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/util/ClassNameExtractor.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/util/StringFormatter.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/and.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/any.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/eq.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/isNot.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/isNotSame.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/isSame.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/not.kt
  kmock/src/commonMain/kotlin/tech/antibytes/kmock/verification/constraints/or.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/fixture/VerificationHandle.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/util/ClassNameExtractorSpec.kt
  kmock/src/jsMain/kotlin/tech/antibytes/kmock/util/ClassNameExtractor.kt
  kmock/src/jsTest/kotlin/tech/antibytes/kmock/util/ClassNameExtractorSpec.kt
  kmock/src/jvmMain/kotlin/tech/antibytes/kmock/util/ClassNameExtractor.kt
  kmock/src/nativeMain/kotlin/tech/antibytes/kmock/util/ClassNameExtractor.kt
  kmock/src/nativeTest/kotlin/tech/antibytes/kmock/util/ClassNameExtractorSpec.kt
  settings.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Linter.kt
Labels: dependencies, kmock, kmock-processor

Replace obsolete coroutnine functions
  integration-android-application/src/test/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubSpec.kt
  integration-kmp/src/androidAndroidTest/kotlin/tech/antibytes/kmock/integration/AndroidSampleControllerAutoStubSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAlternativeAccessSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoSpyFactorySpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubFactorySpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubRelaxedSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubSpec.kt
  integration-kmp/src/jsTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubFactoryJsSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/proxy/AsyncFunProxyInvocationsSpec.kt
  kmock/src/commonTest/kotlin/tech/antibytes/kmock/proxy/SyncFunProxyInvocationsSpec.kt
  playground/src/androidAndroidTest/kotlin/tech/antibytes/kmock/example/AndroidSampleControllerAutoStubSpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAlternativeAccessSpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAutoSpyFactorySpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAutoStubFactorySpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAutoStubRelaxedSpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAutoStubSpec.kt
  playground/src/jsTest/kotlin/tech/antibytes/kmock/example/SampleControllerAutoStubFactoryJsSpec.kt
Labels: kmock, integration-kmp, integration-android-application, playground

Adjust Playground to new AndroidStructure
  build.gradle.kts
  detekt/baseline.xml
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/ParameterTypeMapping.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/KMockGenerator.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/KMockReceiverGenerator.kt
  kmock-processor/src/test/kotlin/tech/antibytes/kmock/integration/KMockFactoriesSpec.kt
  kmock-processor/src/test/kotlin/tech/antibytes/kmock/integration/KMockMocksSpec.kt
  kmock-processor/src/test/kotlin/tech/antibytes/kmock/integration/KMockMultiInterfaceMocksSpec.kt
  kmock-test-plugin/build.gradle.kts
  kmock-test-plugin/gradle/wrapper/gradle-wrapper.jar
  kmock-test-plugin/gradle/wrapper/gradle-wrapper.properties
  kmock-test-plugin/gradlew
  kmock-test-plugin/gradlew.bat
  kmock-test-plugin/kmock-shadow/build.gradle.kts
  playground/build.gradle.kts
  playground/src/androidInstrumentedTest/kotlin/tech/antibytes/kmock/example/AndroidSampleControllerAutoStubSpec.kt
Labels: kmock-processor, playground

Fix Nullability
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/KMockProcessorProvider.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/kotlinpoet/ParameterTypeMapping.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/KMockMethodGenerator.kt
  kmock-processor/src/main/kotlin/tech/antibytes/kmock/processor/mock/KMockProxyNameSelector.kt
  kmock-processor/src/test/kotlin/tech/antibytes/kmock/processor/mock/KMockMethodGeneratorSpec.kt
  kmock-processor/src/test/resources/mock/expected/overloaded/Refined.kt
  kmock-processor/src/test/resources/mock/expected/propertyreceiver/Spied.kt
  kmock-processor/src/test/resources/mock/expected/typealiaz/Common.kt
  kmock-processor/src/test/resources/mock/expected/typealiaz/Shared.kt
  kmock-processor/src/test/resources/mock/expected/typealiaz/SuperType.kt
  playground/build.gradle.kts
Labels: kmock-processor, playground

Enable Integration KMP
  build.gradle.kts
  gradle.properties
  integration-android-application/src/test/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubSpec.kt
  integration-kmp/build.gradle.kts
  integration-kmp/src/androidInstrumentedTest/kotlin/tech/antibytes/kmock/integration/AndroidSampleControllerAutoStubSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAlternativeAccessSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoSpyFactorySpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubFactorySpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubRelaxedSpec.kt
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubSpec.kt
  kmock-gradle/build.gradle.kts
  kmock-gradle/src-processor/main/kotlin/tech/antibytes/gradle/kmock/source/Processor.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/KmpSourceSetsConfigurator.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/KmpTestTaskChain.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/SingleSourceSetConfigurator.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/source/KmpSourceSetsConfiguratorSpec.kt
  kmock-processor/build.gradle.kts
  kmock-test-plugin/kmock-gradle-shadow/build.gradle.kts
  kmock-test-plugin/kmock-gradle-shadow/src-processor/main/kotlin/tech/antibytes/gradle/kmock/source/Processor.kt
  kmock-test-plugin/kmock-processor-shadow/build.gradle.kts
  kmock-test-plugin/kmock-processor-shadow/src/main
  kmock/build.gradle.kts
  playground/build.gradle.kts
  settings.gradle.kts
  setup/build.gradle.kts
  setup/settings.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Excludes.kt
Labels: dependencies, kmock, kmock-gradle, kmock-processor, integration-kmp, integration-android-application, playground

Fix Android Sourcsets KMP
  build.gradle.kts
  integration-kmp/build.gradle.kts
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAlternativeAccessSpec.kt
  kmock-gradle/src-processor/main/kotlin/tech/antibytes/gradle/kmock/source/Processor.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/KSPBridge.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/KmpCleanup.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/KmpSourceSetsConfigurator.kt
  kmock-gradle/src/main/kotlin/tech/antibytes/gradle/kmock/source/KmpTestTaskChain.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/KMockPluginSpec.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/KSPBridgeSpec.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/source/KmpCleanupSpec.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/source/KmpSourceSetsConfiguratorSpec.kt
  kmock-gradle/src/test/kotlin/tech/antibytes/gradle/kmock/source/SingleSourceSetConfiguratorSpec.kt
Labels: kmock-gradle, integration-kmp

Enable Android Integration
  build.gradle.kts
  gradle.properties
  integration-android-application/build.gradle.kts
  integration-android-application/src/test/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubSpec.kt
  kmock-gradle/build.gradle.kts
  kmock-gradle/src-processor/main/kotlin/tech/antibytes/gradle/kmock/source/Processor.kt
  kmock-processor/build.gradle.kts
  kmock-test-plugin/settings.gradle.kts
  kmock/build.gradle.kts
  settings.gradle.kts
  setup/settings.gradle.kts
  setup/src/main/kotlin/tech/antibytes/gradle/kmock/config/quality/Excludes.kt
Labels: dependencies, kmock, kmock-gradle, kmock-processor, integration-android-application

Use Latest Workflows
  .github/workflows/ci-label-sync.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-pull-request-formcheck.yml
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Update ChangeLog
  CHANGELOG.md
  settings.gradle.kts
Labels: documentation

Remove Mips from Workflows
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Update Baseline
  detekt/baseline.xml
Labels: none

Bypass Experimental Accessors for Native
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAlternativeAccessSpec.kt
Labels: integration-kmp

Use Android and KMP integration test for Instrumented Test
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Fix JS Examples
  integration-kmp/src/jsTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAutoStubFactoryJsSpec.kt
Labels: integration-kmp

Bypass Experimental Accessors for Native in playground
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAlternativeAccessSpec.kt
Labels: playground

Remove redundant InstrumentedTest
  integration-kmp/src/commonTest/kotlin/tech/antibytes/kmock/integration/SampleControllerAlternativeAccessSpec.kt
  kmock/src/androidInstrumentedTest/kotlin/tech/antibytes/kmock/util/ClassNameExtractorSpec.kt
  playground/src/commonTest/kotlin/tech/antibytes/kmock/example/SampleControllerAlternativeAccessSpec.kt
Labels: kmock, integration-kmp, playground

Fix Doc Distribution
  docs/mkdocs.yml
Labels: documentation

.github/labeler.yml:

ci:
  - .github/**/*

dependencies:
  - setup/**/*

documentation:
  - docs/**/*
  - README.md
  - LICENSE
  - CHANGELOG.md
  - CODE-OF-CONDUCT.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTION.md
  - SECURITY.md

# Library
kmock:
  - kmock/**/*

kmock-gradle:
  - kmock-gradle/**/*

kmock-processor:
  - kmock-processor/**/*

integration-kmp:
  - integration-kmp/**/*

integration-android-application:
  - integration-android-application/**/*

playground:
  - playground/**/*

integration-plugin:
  - gradlePlugin/kmock-test-plugin/**/*
